*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1C44;
}

.login{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    
    .title{
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }

    .link{
        text-decoration: none;
        color: blue;
        margin-bottom: 5px;
    }

    .link-signup{
        margin-bottom: 30px;
    }

    

    .heading{
        text-transform: uppercase;
        color: #949495;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-size: 14px;

        p{
            display: inline-block;
        }
        .line{
            display: inline-block;
            height: 2px;
            width: 40px;
            background-color: #949495;
            margin: 0 5px;
        }
    }

    form{
        margin-bottom: 30px;

        fieldset{
            border: 0;
            margin-bottom: 20px;

            label{
                display: block;
                margin-bottom: 5px;
            }

            input{
                padding: 10px;
                border: 1px solid #D9DCED;
            }
        }

        button[type="submit"]{
            border: 0;
            background-color: #E65B7C;
            border-radius: 5px;
            padding: 10px 20px;
            color: #fff;
            box-shadow: 0 0 20px rgba(230, 91, 124, 0.5);
            width: 100%;
        }
    }

    a{
        text-decoration: none;
        color: blue;
    }

}