*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #eee;
    
}

.popup-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.popup{
    position: relative;
    width: 432px;
    height: 399px;
    background-color: #fff;
    padding: 80px;
    text-align: center;
    border-radius: 5px;

    .close{
        position: absolute;
        top: 20px;
        right: 30px;
        background-color: transparent;
        font-size: 20px;
        border: 0;
    }

    img{
        margin-bottom: 20px;
    }

    p{
        margin-bottom: 40px;
    }

    .button{
        background-color: #1C1B5E;
        border: 0;
        box-shadow: 0 0 10px #1C1B5D;
        padding: 20px 40px;
        border-radius: 3px;
        color: #fff;

        &.is-orange{
            background-color: #ED6755;
            color: #fff;
            box-shadow: 0 0 10px #ED6755;

            
        }
    }

    

}